.sec-email {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 120px 20px 60px 20px; 
    background: rgb(0,0,0);
    background: linear-gradient(59deg, rgba(0,0,0,1) 0%, rgba(25,87,88,1) 59%, rgba(0,0,0,1) 100%); 
}

.sec-email form h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.463rem;
}

.sec-email form h1 span{
    font-size: 2rem;
    color: #fff;
    margin-right: 8px;
}

.sec-email form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;        
}

.sec-email form label {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.sec-email form input {
    padding: 15px;
    border: 1px solid #999;
    border-radius: 7px;
    background-color: #eee;
    font-size: 1rem;
}

.sec-email form textarea {
    height: 100px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 7px;
}

.sec-email form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;    
    margin-top: 35px;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: #d35400;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.sec-email form button:hover {    
    background-color: #b14701;
}

.sec-email form button img {
    display: none;
    width: 20px;
    margin-right: 10px;    
}

/* Página de agradecimento pelo contato */
.sec-email .titulo-obrigado-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.463rem;
    text-align: center;
    margin-bottom: 30px;    
}

.sec-email .titulo-obrigado-contato span{
    margin-bottom: 20px;
    font-size: 2.75rem;    
}

.sec-email .div-text-obrigado-contato {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.sec-email .div-text-obrigado-contato .texto-obrigado-contato {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
    
}

.sec-email .texto-social-obrigado-contato {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.sec-email .link-social-obrigado-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    background-color: #d35400;
    border: 1px solid #d35400;
    padding: 10px;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

.sec-email .link-social-obrigado-contato:hover {    
    background-color: #b14701;
    color: #eee;
    border: 1px solid #eee;

}

.sec-email .link-social-obrigado-contato span {
    margin-right: 8px;
}



/**** @media ***************************************/
@media (min-width: 769px) { 
    
    .sec-email {        
        height: 100vh;
        padding: 120px 20px 100px 20px;    
    }

    .sec-email form h1 {
        font-size: 1.75rem;
        margin-bottom: 30px;
    }

    .sec-email form h1 span {
        font-size: 2.25rem;        
    }

    .sec-email form {
        width: 70%;    
    }

    .sec-email form label {
        font-size: 1.25rem;
    }

    .sec-email form button {
        width: 30%;        
    }

    /* Página de agradecimento pelo contato */
    .sec-email .titulo-obrigado-contato {       
        font-size: 2rem;           
    }

    .sec-email .titulo-obrigado-contato span{
        margin-bottom: 20px;
        font-size: 3rem;    
    }

    .sec-email .div-text-obrigado-contato .texto-obrigado-contato {
        font-size: 1.25rem;        
    } 
    
    .sec-email .texto-social-obrigado-contato {       
        font-size: 1.125rem;        
    }
}

