*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-image: url("/img/fundo-galaxy.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.container {
    max-width: 1280px;
    margin: auto;
}

.btn-voltar-ao-topo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    transition: 0.3s;
}

.btn-voltar-ao-topo:hover {   
    width: 55px;
}

/**** Headeer *********************/
    header {
        position: fixed;
        top: 0;
        z-index: 1001;
        width: 100%;               
        background-color: #111;
        padding: 10px 20px 10px 20px;        
    }
    
    nav .div-nav-mobile, nav .div-nav-tablet-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav .div-nav-tablet-desktop {
        display: none;
    }

    nav .div-nav-mobile .logo-empresa img, nav .div-nav-tablet-desktop .logo-empresa img {
        width: 150px;
    }

    nav .div-nav-mobile .btn-nav-mobile {       
        background-color: black;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    nav .div-nav-mobile .btn-nav-mobile span {        
        color: #ccc;
        font-size: 2.4rem;
        font-weight: bold;        
    }

    nav .div-nav-mobile .btn-nav-mobile .span-btn-close {        
        display: none;
    }

    nav .div-nav-mobile .lista-nav-menu-mobile {   
        position: absolute;
        display: block;
        width: 100%;
        top: 65px;                
        left: 0;
        height: 0px;
        list-style: none;        
        background-color: #222;
        z-index: 1000;        
        visibility: hidden;
        overflow-y: hidden;        
        transition: 0.5s;        
    }

    #nav-header.active .lista-nav-menu-mobile {        
        height: calc(100vh - 65px);  
        visibility: visible;
        overflow-y: auto;
    }
    
    nav .div-nav-mobile .lista-nav-menu-mobile li a {  
        display: block;
        width: 100%;         
        padding: 20px 20px 20px 20px;         
        border-bottom: 1px solid #333;    
        text-decoration: none;
        color: #ccc;
        font-weight: bold;
        transition: 0.3s;
    }
    
    nav .div-nav-mobile .lista-nav-menu-mobile li a:hover {  
        background-color: #333;
    }

/***********************************/


/**** Banner ***********************/
    .banner { 
        position: relative;
        margin-top: 66px;      
        padding: 20px;                
        background-image: linear-gradient(to top right, #fff, #eee, #909090);        
        border-bottom: 10px solid #E67E22;
    }
    
    .banner h1{
        display: flex;
        flex-direction: column;        
        margin-top: 10px;
        font-size: 1.5rem;
        color: #333;
    }

    .banner h1 span{
        width: 50px;
        border: 3px solid #0984E3;       
        margin-top: 10px;
    }

    .banner .div-principal-profissao-foto {
        display: flex;
        flex-direction: row;    
    }

    .banner .div-principal-profissao-foto .div-banner-profissao {
        width: 60%;
        height: 90px;        
        margin-top: 30px;        
        padding-top: 20px;        
        border-right: 5px solid #E67E22;
    }

    .banner .div-principal-profissao-foto .div-banner-profissao p{ 
        margin-bottom: 8px;
        font-size: 0.813rem;
        font-weight: bold;
    }

    .banner .div-principal-profissao-foto figure img {
        position: absolute;        
        right: 0px;
        bottom: -10px;
        width: 190px;        
    }

/***********************************/


/**** Main *************************/
    main {
        padding: 20px;
        background-color: #000;
    }

    /* Section Experiência */ 
    .sec-experiencia {
        display: flex;
        flex-direction: column;        
    } 

    /* Article Experiência */      
    .sec-experiencia .art-experiencia {
        margin-bottom: 25px;
        color:#fff;
    }

    .sec-experiencia .art-experiencia h2 {
        margin-top: 15px;
        margin-bottom: 25px;
        font-size: 1.25rem;
    }

    .sec-experiencia .art-experiencia p {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    /* Article Formação */
    .sec-experiencia .art-formacao {        
        position: relative;
        padding-bottom: 60px;
    }
    .sec-experiencia .art-formacao .div-sombra-formacao {
        width: 90%;
        height: 260px;
        background-color: #000;
        border: 2px solid #999;
        border-radius: 10px;
    }

    .sec-experiencia .art-formacao .div-formacao {
        position: absolute;
        top: 30px;
        width: 90%;
        height: 260px;
        margin-left: 10%;
        background-color: #E67E22;
        border-radius: 10px;
        padding: 25px;
    }

    .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao {    
        display: flex;
        flex-direction: column;                
        margin-bottom: 15px;
    }

    .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao h2 {
        display: flex;
        flex-direction: row; 
        align-items: center;      
        font-size: 1.25rem;       
    }

    .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao h2 span {             
        font-size: 1.875rem;
        margin-top: -3px;
        margin-right: 7px;       
    }


    .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao .span-barra-titulo-formacao {
        display: block;
        width: 42px;
        border: 3px solid #000;
        margin-top: 8px;
    }

    .sec-experiencia .art-formacao .div-formacao .div-formacao-curso {
        margin-bottom: 10px;        
        border-left: 4px solid #000;
        padding: 3px 0 3px 10px;

    }

    .sec-experiencia .art-formacao .div-formacao .div-formacao-curso h4, p{
        font-size: 0.875rem;
    }
/***********************************/



/**** @media ***************************************/

@media (min-width: 360px) {  

    /* Banner */
    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 0.875rem;        
    }

    .banner .div-principal-profissao-foto figure img {        
        width: 200px;
    }
    /******/

}

@media (min-width: 390px) {  

    /* Banner */
    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 0.938rem;        
    }

    .banner .div-principal-profissao-foto figure img {        
        width: 240px;
    }
    /******/

}

@media (min-width: 440px) {  

    /* Banner */
    .banner .div-principal-profissao-foto .div-banner-profissao {         
        width: 55%;       
    }    
    .banner .div-principal-profissao-foto figure img {        
        width: 280px;
    }
    /******/

}

@media (min-width: 500px) {  

    /* Banner */
    .banner .div-principal-profissao-foto .div-banner-profissao {
        width: 280px;
        height: 110px; 
        border-right: 6px solid #E67E22;   
    }

    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 1rem;        
    }

    .banner .div-principal-profissao-foto figure img {        
        width: 300px;
    }
    /******/

}

@media (min-width: 540px) {  

    /* Banner */
    .banner .div-principal-profissao-foto .div-banner-profissao {
        margin-left: 30px;
        margin-bottom: 10px;        
    }

    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 1.063rem;        
    }    
    /******/

}

@media (min-width: 600px) {  

    /* Banner */
    .banner h1{        
        font-size: 2rem;          
    }
    .banner .div-principal-profissao-foto .div-banner-profissao {
        margin-left: 70px;
    }

    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 1.188rem;        
    }

    .banner .div-principal-profissao-foto figure img {        
        width: 340px;
    }
    /******/


    /* Main */

        /* Section Experiência*/
        .sec-experiencia {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 30px;        
        } 

        .sec-experiencia .art-experiencia, .art-formacao {
            width: 50%;
        }

        .sec-experiencia .art-experiencia {
            margin-right: 20px;
        }

        /* Article Formação */        

    /********/

}

@media (min-width: 660px) { 

    /* Banner */
    .banner .div-principal-profissao-foto .div-banner-profissao {        
        margin-bottom: 30px;
        border-right: 7px solid #E67E22;
    }
    .banner .div-principal-profissao-foto figure img {        
        width: 380px;
    }
    /******/

}

@media (min-width: 700px) { 

    /* Banner */
    .banner h1{        
        font-size: 2.25rem;          
    }    
    .banner .div-principal-profissao-foto .div-banner-profissao {
        width: 300px;
        margin-left: 105px;       
        margin-bottom: 40px;
        height: 150px;
        border-right: 8px solid #E67E22;
    }
    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 1.375rem;        
    }
    .banner .div-principal-profissao-foto figure img {        
        width: 400px;
    }
    /******/

}

@media (min-width: 769px) {   

    /* Header */
        nav .div-nav-mobile {
            display: none;
        }

        nav .div-nav-tablet-desktop {
            display: flex;
        }

        nav .div-nav-tablet-desktop .lista-nav-menu {
            display: flex;
            flex-direction: row;           
        }

        nav .div-nav-tablet-desktop .lista-nav-menu li {
            margin-left: 20px;
            list-style: none;
        }

        nav .div-nav-tablet-desktop .lista-nav-menu li a{
            color: #ccc;       
            text-decoration: none;
            font-weight: bold;
            transition: 0.3s;
        }

        nav .div-nav-tablet-desktop .lista-nav-menu li a:hover {
            color: #fff;            
        }
    /******/


    /* Banner */
        .banner {
            border-bottom: 15px solid #E67E22;
        }
        .banner h1{        
            font-size: 2.5rem;          
        }  
        
        .banner h1 span{
            width: 75px;
            border: 5px solid #0984E3;            
        }

        .banner .div-principal-profissao-foto .div-banner-profissao {
            margin-left: 50px;       
            margin-bottom: 40px;
            margin-top: 40px;
            height: 170px;
            width: 400px;
            border-right: 10px solid #E67E22;
        }
        .banner .div-principal-profissao-foto .div-banner-profissao p{         
            font-size: 1.75rem;        
        }
        .banner .div-principal-profissao-foto figure img {        
            width: 440px;
            bottom: -15px;
        }
    /******/

        /* Main */

        /* Section Experiência*/

        /* Article Formação */
        .sec-experiencia .art-formacao .div-formacao .div-formacao-curso h4, p{
            font-size: 1rem;
        }

    /********/

}

@media (min-width: 860px) { 

    /* Banner */   
    .banner .div-principal-profissao-foto figure img {        
        width: 540px;
    }
    /******/
}

@media (min-width: 940px) { 

    /* Banner */
    .banner h1{
        margin-left: 50px;
    }
    .banner .div-principal-profissao-foto .div-banner-profissao {
        margin-left: 95px;       
        margin-bottom: 60px;
        margin-top: 30px;
        height: 180px;
        padding-top: 40px;
        border-right: 13px solid #E67E22;
    }    
    .banner .div-principal-profissao-foto figure img {        
        width: 600px;
    }
    /******/

    /* Main */

    main {
        padding: 50px;        
    }   

    /* Section Experiência*/    
    
    /* Article Formação */     

/********/
}

@media (min-width: 1024px) { 

    /* Banner */
    .banner {
        border-bottom: 25px solid #E67E22;
    }
    .banner h1{        
        font-size: 2.75rem;          
    }

    .banner .div-principal-profissao-foto .div-banner-profissao {
        width: 450px;               
        margin-bottom: 90px;
        margin-top: 60px;
        height: 300px;
        padding-top: 60px;
        border-right: 15px solid #E67E22;
    }

    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 2rem;        
    }   
    .banner .div-principal-profissao-foto figure img {        
        width: 700px;
        bottom: -25px;
    }
    /******/

       /* Main */

        /* Section Experiência*/
        .sec-experiencia .art-experiencia h2 {           
            font-size: 1.625rem;
        }
    
        .sec-experiencia .art-experiencia p {            
            font-size: 1.25rem;
            line-height: 1.5;
        }
        
        /* Article Formação */ 
        .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao h2 {                 
            font-size: 1.375rem;       
        }
        
        .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao h2 span {                 
            font-size: 2rem;       
        } 

    /********/
}

@media (min-width: 1110px) { 

    /* Banner */  
    .banner .div-principal-profissao-foto .div-banner-profissao {
        width: 480px;
    }

    .banner .div-principal-profissao-foto figure img {        
        width: 800px;    
    }
    /******/
}

@media (min-width: 1200px) { 

    /* Banner */  
    .banner .div-principal-profissao-foto .div-banner-profissao {
        width: 510px;
    }    
    /******/
}

@media (min-width: 1280px) { 

    /* Header */    
    nav {
        padding-left: 10px;
        padding-right: 10px;
    }
    /*********/

    /* Banner */    
    .banner h1{        
        font-size: 3rem;          
    }

    .banner .div-principal-profissao-foto .div-banner-profissao {
        width: 540px;
        margin-left: 95px;
    }

    .banner .div-principal-profissao-foto .div-banner-profissao p{         
        font-size: 2.25rem;        
    }   
    .banner .div-principal-profissao-foto figure img {        
        width: 900px;    
    }
    /******/

    /* Main */

        /* Section Experiência*/
        .sec-experiencia .art-experiencia h2 {           
            font-size: 2.25rem;
        }
    
        .sec-experiencia .art-experiencia p {
            font-size: 1.625rem;
            line-height: 2.25rem;            
        }
        
        /* Article Formação */ 

        .sec-experiencia .art-formacao .div-sombra-formacao {            
            height: 330px;                       
        }

        .sec-experiencia .art-formacao .div-formacao {           
            height: 330px;            
            padding: 25px 25px 25px 35px;
        }

        .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao h2 {                 
            font-size: 1.75rem;       
        }
        
        .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao h2 span {                 
            font-size: 2.063em;       
        }

        .sec-experiencia .art-formacao .div-formacao .div-titulo-formacao .span-barra-titulo-formacao {            
            width: 72px;
            border: 4px solid #000;            
        }

        .sec-experiencia .art-formacao .div-formacao .div-formacao-curso h4, p {
            font-size: 1.25rem;
        }  
        
        
}

/***************************************************/